library-booking-service/src/main/resources/rooms.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://com.smartcampus/library/soap"
           xmlns:tns="http://com.smartcampus/library/soap" 
           elementFormDefault="qualified">

    <xs:element name="getRoomStatusRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="roomNumber" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getRoomStatusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="roomNumber" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>